@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital@0;1&display=swap')/* homepage_style.css */

*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    padding: 0;
}
#Navbar{
    background: #343a40;
    color: #ffffff;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Heading-text{
    margin-left: 7.6rem;
    text-transform: uppercase;
    
}
.Heading-text H3{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
      
}
.dropdownoption{
    color: #000;
    width: 150px;
    text-transform: uppercase;
    margin-left: 40px;
}

.Select-multi-value-wrapper{
    background-color: #343a40;
    border-color:#343a40;
}
.Select-arrow-zone{
    background-color: #343a40;
}
.subhead{
    font-family:"Nunito Sans";
    font-size: 16px;
    line-height: 24px;
    color: #55595c;
    font-weight: 200;

}
.top_heading{
    font-family: "Nunito Sans";
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}
#textline h4{
    color: #595959;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 1rem;
    white-space: 1px;
}
#graphs{
    width: 90%;
    display: flex;
    align-items:stretch;
    align-content: space-between;
}

.cal_data, .scrap_data{
    display: grid;
    
} 
.cal_data, .scrap_data p{
    font-family:"Nunito Sans", sans-serif;
    font-size: 16px;
    color: #55595c;
    letter-spacing: 1px;
    font-weight: 200;
    line-height:0px;
    vertical-align:baseline;
    letter-spacing:1px;
    word-spacing:0px;
}